model {
  ssd {
    num_classes: 3  # Set to your number of classes
    box_coder {
      faster_rcnn_box_coder {
        y_scale: 10.0
        x_scale: 10.0
        height_scale: 5.0
        width_scale: 5.0
      }
    }
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 600
        max_dimension: 1024
      }
    }
    feature_extractor {
      type: 'ssd_mobilenet_v2'  # or whichever model you are using
    }
    # More config here...
  }
}

train_config: {
  batch_size: 24
  fine_tune_checkpoint: "ssd_mobilenet_v2_checkpoint/model.ckpt"  # Path to pre-trained model
  fine_tune_checkpoint_type: "classification"
}

train_input_reader: {
  label_map_path: "SSD/label_map.pbtxt"  # Path to your label map
  tf_record_input_reader {
    input_path: "Data Processing/TFRecords/train.tfrecord"
  }
}

eval_input_reader: {
  label_map_path: "SSD/label_map.pbtxt"
  tf_record_input_reader {
    input_path: "Data Processing/TFRecords/valid.tfrecord"
  }
}
